{% extends "layout.html" %}

{% block title %}
New App page
{% endblock %}

{% block content %}
<h1>This is the initial state of application.</h1>
<h2>This the view to be rendered inside, formed in templates of newApp </h2>

<div class="grid-cols-3 gap-4 m-4"></div>

{% for db in dbData  %}
{% comment %} dbData is variable that extracts data from DB {% endcomment %}
<div class="bg-gray-600 rounded-sm p-5">
    <img class="rounded shadow-lg" src="{{db.image.url}}" alt="">
    <h3>{{db.name}}</h3>

    <a href="{% url 'userDetails' db.id %}">
        {% comment %} userDetails is the name of URL, defined in URLs.py  {% endcomment %}
        <button
        type="button"
        class=" w-[100%] focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">{{db.id}}-{{db.sex}}</button></a>
</div>
<div>if you see image this is extracted from database</div>
{% endfor %}

{% endblock %}
   